
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

.container{ 
    text-align:center;
    padding: 7em 1.2em 80px 1.2em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding: 22px 40px;
	font-size: 20px;
	background: -webkit-gradient(linear, left top, right top, from(var(--purple)), to(var(--pink)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

header {
	display: flex;
	justify-content: space-between;
}

.subtitle {
	font-size: 24px;
	font-weight: 600;
}

.navtext {
	text-decoration: none;
	padding: 0em 1em;
	font-weight: 100;
}

p{
    line-height: 1.6em;
}

.globe {
	width: 15%;
}

.gradient {
    height: 1200px;
    width: 100%;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
}

.logo {
    width: 150px;
    text-align: left;
    padding: 18px 40px;
}

.text {
    font-size: 22px;
}

.subtext {
	 font-size: 16px;
}

.row1{
	width: 100%;
}

.row2{
	position: relative;
	width: 100%;
	top: 500px;
}

.block1{
	width: 47%;
	position:absolute;
	text-align:center;
}

.block2{
	width: 47%;
	position:absolute;
	left: 53%;
	text-align:center;
}

.preview1 {
	float:right;
	margin:auto;
	width: 600px;
	border-radius: 15px 15px 0 0;
}

.whitebox1 {
	float:right;
	clear:both;
	margin:auto;
	width: 600px;
	height: 150px;
	background-color: whitesmoke;

}

.subbox1 {
	float:right;
	clear:both;
	margin:auto;
	width: 600px;
	height: 50px;
	background-color: #e3e3e3;
	border-radius: 0 0 15px 15px;
}

.preview2 {
	float:left;
	margin:auto;
	width: 600px;
	border-radius: 15px 15px 0 0;
}

.whitebox2 {
	float:left;
	clear:both;
	margin:auto;
	width: 600px;
	height: 150px;
	background-color: whitesmoke;
}

.subbox2 {
	float:left;
	clear:both;
	margin:auto;
	width: 600px;
	height: 50px;
	background-color: #e3e3e3;
	border-radius: 0 0 15px 15px;
}

.blocktext {
	padding: 0em 1.2em;
	text-align: left;
	color: #20002b;
	font-size: 18px;
	font-weight: bold;
}

.blocksubtext {
	padding: 0em 1.4em;
	text-align: left;
	color: #20002b;
	font-size: 14px;
}

.clear{
	height: 130px;
}

.surface1 {
	position: absolute;
	right: 30px;
	bottom: -4px;
	color: #20002b;
}

.surface2 {
	position: absolute;
	left: 450px;
	bottom: -4px;
	color: #20002b;
}

.mechanics {
	color: white;
	padding: 3em 4em;
}

:root {
	--purple: #9616a9;
	--pink: #a517ba;
}

button {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	position: relative;
	right: 238px;
	top: 7px;
	height: 35px;
	width: 90px;
	outline: none;
	border: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0.75em 1.75em;
	border-radius: 15px;
	display: inline-block;
	color: #fff;
	z-index: 2;
	background: -webkit-gradient(linear, left top, right top, from(var(--purple)), to(var(--pink)));
	background: linear-gradient(to right, var(--purple), var(--pink));
}

button::after {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: -5px;
	left: 0%;
	height: 110%;
	width: 90%;
	opacity: 0.8;
	border-radius: 15px;
	background: inherit;
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);
	filter: blur(6px);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

button:hover::after {
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
	width: 100%;
	bottom: -5px;
	left: 0;
}






